<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cpf</th>
      <th scope="col">Rg</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <th scope="row">{{ country.Id }}</th>
      <td>{{ country.Nome }}</td>
      <td>{{ country.Cpf }}</td>
      <td>{{ country.Rg }}</td>
      <td>{{ country.Email }}</td>
      <td style="text-align: center;">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="remover(country.id)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" (click)="adicionar()">Novo</button>
